 $margin-content: 0 5%;
 body {
     font-family: 'Roboto', sans-serif;
     font-size: 1em;
     line-height: 1.5em;
     max-width: 1300px;
     margin: $margin-content;
 }
 
 a {
     text-decoration: none;
     color: black;
     &:visited {
         color: black;
     }
 }
 
 .header {
     display: flex;
     flex-direction: row;
     margin: 0 8%;
     ;
     height: 15%;
     .logo {
         width: 50%;
         display: flex;
         justify-content: flex-start;
         a {
             width: 70%;
         }
     }
     .contact {
         display: flex;
         justify-content: flex-end;
         align-items: center;
         width: 50%;
     }
 }
 
 .picture {
     width: 100%;
     height: 100%;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 48% 0 0% 0;
     background-size: cover;
     background-position: center 0;
     background-image: url("../img/foto-portada.jpg");
     background-size: 100%;
     .pam {
         display: flex;
         justify-content: space-around;
         align-items: flex-end;
         a {
             width: 25%;
             display: flex;
             justify-content: center;
             img {
                 width: 80%;
                 padding-bottom: 20%;
             }
         }
     }
 }
 
 .info {
     display: flex;
     justify-content: space-between;
     margin: 6% 9%;
     .on-line {
         display: flex;
         align-items: center;
         a {
             width: 55%;
             img {
                 width: 100%;
             }
         }
         .on-line-txt {
             display: flex;
             line-height: .6vw;
             justify-content: center;
             flex-direction: column;
             font-size: 2.5vw;
             h1 {
                 font-weight: bold;
             }
         }
     }
     .details {
         width: 50%;
     }
 }
 
 .advertisement {
     background-color: red;
     color: white;
     padding: 4%;
     h1 {
         font-weight: lighter;
     }
     ul {
         padding-inline-start: 0px;
         li {
             font-weight: bolder;
         }
     }
 }
 
 .programs {
     padding: 0 3%;
     justify-content: center;
     display: flex;
     flex-flow: row wrap;
     justify-content: space-around;
 }
 
 .program {
     width: 300px;
     display: flex;
     flex-direction: column;
     padding: 2%;
     h2 {
         display: none;
     }
     div.program-info {
         margin: 30px 0;
         height: 50px;
     }
     a {
         background-color: black;
         color: white;
         border-radius: 8px;
         padding: .7rem 1rem;
         text-align: center;
         width: 70%;
     }
     svg {
         width: 200px;
         height: 150px;
     }
 }
 
 .idea {
     img {
         width: 100%;
     }
     .details {
         margin: $margin-content;
         .Logo {
             width: 30%;
         }
         .idea-details {
             padding: 0 0 4% 0;
         }
         a {
             background-color: black;
             color: white;
             border-radius: 8px;
             padding: 10px 30px;
             display: flex;
             align-items: center;
             width: 11em;
             label {
                 padding-left: 10px;
             }
             i {
                 font-size: 2em;
             }
         }
     }
 }
 
 .footer {
     margin: 10% 0 0;
     display: flex;
     justify-content: center;
     display: flex;
     flex-direction: column;
     align-items: center;
     .icons {
         a {
             font-size: 23px;
             .icon {
                 padding: 6px;
             }
         }
     }
     p {
         font-size: 10px;
         color: gray;
     }
 }
 
 @media (max-width: 920px) {
     .picture {
         padding: 30% 0 0% 0;
     }
 }
 
 @media screen and (max-width: 600px) {
     .header {
         height: 30% !important;
         div.logo {
             margin: 0;
             width: 100%;
         }
     }
     .info {
         display: flex;
         flex-direction: column;
         align-items: center;
         .online,
         .details {
             width: 100%;
         }
         .on-line {
             width: 80%;
             align-items: center;
             a {
                 width: 55%;
             }
             p {
                 font-size: 4vw;
             }
             h2 {
                 font-size: 6vw;
             }
         }
     }
 }