 // Imports
 @import "../../node_modules/normalize-scss/sass/normalize";
 // -----------------------------

 // Vars
 $margin-content: 6%;
 // -----------------------------

 // General
 body {
     font-family: 'Roboto', sans-serif;
     font-size: 17px;
     line-height: 1.5em;
     max-width: 1300px;
     margin: 0 $margin-content;
 }
 
 p {
     font-size: 1em;
     margin-bottom: 20px;
 }
 
 h2 {
     font-size: 1.4em;
     line-height: 1.5em;
     font-weight: normal;
     span {
        font-size: 1.8em;
        display: inline-block;
        font-weight: bold;
     }
 }
 
 h1 {
     font-size: 2.2em;
     margin-top: .3em;
 }
 
 a {
     font-size: 1em;
     text-decoration: none;
     color: black;
     &:visited {
         color: black;
     }
 }

 ul {
     margin: 0;
     padding-inline-start: 0px;
    li {
        list-style: none;
    }
 }
 
 // -----------------------------
 
 .header {
     display: flex;
     flex-direction: row;
     margin: 0 5%;
     height: 15%;
 }
 
 .logo {
     width: 50%;
     display: flex;
     justify-content: flex-start;
     img {
         min-width: 180px;
     }
     a {
         width: 60%;
         padding: 3% 0;
     }
 }
 
 .contact {
     display: flex;
     justify-content: flex-end;
     align-items: center;
     width: 50%;
 }
 
 .picture {
     width: 100%;
     height: 100%;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 40% 0 0% 0;
     
     background: url("../img/foto-portada.jpg") center center no-repeat;
     background-size: cover;
 }
 
 .hero {
     display: flex;
     justify-content: space-around;
     padding-bottom: 3%;
     height: 10%;
     a {
         width: 25%;
         display: flex;
         justify-content: center;
         transition: all .3s;
         img {
             width: 80%;
         }
         &:hover {
            transform: scale(1.2)
         }
     }
 }
 
 .info {
     display: flex;
     justify-content: space-between;
     margin: $margin-content $margin-content;
 }
 
 .on-line {
    //  width: 40%;
     a {
        display: flex;
        align-items: center;   
     }
     h2 {
         margin: 0 $margin-content/3;
         display: inline-block;
         width: 170px;
     }

     img {
         height: 100px;
     }
     
 }
 
 .on-line-details {
     margin-top: .5em;
     width: 50%;
 }
 
 .advertisement {
     background-color: red;
     color: white;
     padding: 4% 7%;
     h1 {
         font-weight: lighter;
     }
     ul {
         padding-inline-start: 0px;
         li {
             font-weight: bolder;
         }
     }
 }
 
 .programs {
     padding: 0 $margin-content;
     justify-content: center;
     display: flex;
    //  flex-flow: row wrap;
    //  justify-content: space-around;
 }
 
 .program {
    width: 33%;
     display: flex;
     flex-wrap: wrap;
     padding: 2%;
     align-items: stretch;
     h2 {
         display: none;
     }
     a {
         margin-top: 6%;
         background-color: black;
         color: white;
         border-radius: 8px;
         padding: .7rem 1rem;
         text-align: center;
         width: 70%;
         align-self: flex-end;
         font-size: .9em;
         letter-spacing: 1px;
     }
     svg {
         width: 200px;
         height: 150px;
     }
 }
 
 .program-info {
     margin: 0 0 30px 0;
    //  height: 50px;
 }
 
 .idea {
     img {
         width: 100%;
     }
 }
 
 .idea-details {
     margin: 0 $margin-content;
     a {
         background-color: black;
         color: white;
         border-radius: 8px;
         padding: 10px 30px;
         display: inline-block;
         align-items: center;
        //  width: 11em;
         font-size: .9em;
         letter-spacing: 1px;
         label {
             padding-left: 10px;
         }
         i {
             font-size: 2em;
         }
     }
 }
 
 .idea-image {
     width: 250px;
     margin-left: -20px;
 }
 
 .idea-txt {
     padding: 0 0 4% 0;
 }
 
 .footer {
     margin: 10% 0 0;
     display: flex;
     justify-content: center;
     display: flex;
     flex-direction: column;
     align-items: center;
     p {
         font-size: .8em;
         color: gray;
     }
 }
 
 .icons {
     a {
         font-size: 25px;
     }
 }
 
 .icon {
     padding: 6px;
 }

 // Responsive
 @media (max-width: 920px) {

     .picture {
         padding: 50% 0 0% 0;
     }

     .on-line {
         margin-bottom: $margin-content;
         img {
             height: 80px;
         }
     }

 }
 
 @media screen and (max-width: 700px) {
     .header {
         height: 30% !important;
     }
     .logo {
         margin: 0;
         width: 100%;
     }
     .info {
         display: flex;
         flex-direction: column;
         align-items: center;
         .on-line,
         .on-line-details {
             width: 100%;
         }
         .on-line  {
            img {
                height: 65px;
            }
            h2 {
                font-size: 1.2em;
            }
             
         }
     }
     .programs {
         flex-wrap: wrap;
     }
     .program {
         width: 80%;
     }
 }
 // -----------------------------