@font-face {
    font: {
        family: 'Roboto';
        weight: 12;
        style: italic;
    }
    src: url('Roboto-ThinItalic-webfont.eot');
    src: url('Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('Roboto-ThinItalic-webfont.woff') format('woff'),
    url('Roboto-ThinItalic-webfont.ttf') format('truetype'),
    url('Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg');
}

body {
    p {
        margin: 10px;
    }
    font-family: 'Roboto',
    sans-serif;
    font-size: 12px;
    .card {
        max-width: 1300px;
        margin: 0 80px;
        //margin: 0 auto;
        .header {
            display: flex;
            flex-direction: row;
            margin: 0 70px;
            height: 100px;
            .logo {
                width: 50%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                img {
                    width: 285px;
                    height: 63px;
                }
            }
            .contact {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 50%;
                a {
                    font-size: 15px;
                    text-decoration: none;
                    color: black!important;
                }
            }
        }
        .content {
            .picture {
                width: 100%;
                height: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 52% 0 0% 0;
                background-size: cover;
                background-position: center 0;
                background-image: url("../../../src/img/foto-portada.jpg");
                background-size: 100%;
                .pam {
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-end;
                    a img {
                        width: 130px;
                        padding-bottom: 20%;
                    }
                }
            }
            .info {
                display: flex;
                justify-content: space-between;
                margin: 6% 9%;
                .onLine {
                    display: flex;
                    width: 50%;
                    align-items: center;
                    ;
                    a {
                        width: 35%;
                        img {
                            width: 100%;
                        }
                    }
                    .onLineTxt {
                        display: flex;
                        line-height: .6vw;
                        justify-content: center;
                        flex-direction: column;
                        font-size: 2.5vw;
                        .online {
                            font-weight: bold;
                            font-size: 3.5vw;
                        }
                    }
                }
                .details {
                    width: 50%;
                    .detailsContent {
                        font-size: 1.3vw;
                        line-height: 11px;
                        font-size: 1vw;
                    }
                }
            }
        }
        .advertisement {
            background-color: red;
            color: white;
            .advertisementContent {
                padding: 4%;
                .title {
                    font-size: 30px;
                }
                .list {
                    font-weight: bolder!important;
                }
            }
        }
        .programs {
            table {
                tr {
                    display: flex;
                    justify-content: space-around;
                    td {
                        iframe.loguito {
                            fill: #000;
                        }
                        button.moreInfo {
                            background-color: black;
                            color: white;
                            border-radius: 8px;
                            padding: 10px 30px;
                        }
                    }
                }
            }
        }
        .idea {
            img {
                width: 100%;
            }
            .appointment {
                background-color: black;
                color: white;
                border-radius: 8px;
                padding: 10px 30px;
            }
        }
        .footer {
            margin: 0 70px;
            display: flex;
            justify-content: center;
            .icons {
                font-size: 24vw;
                #facebook {
                    fill: firebrick;
                }
            }
        }
    }
}