div.footer
        div.icons
          a(href="#")
            img.icon.fab.fa-facebook
          a(href="#")
            img.icon.fab.fa-instagram
          a(href="#")
            img.icon.fab.fa-youtube
          a(href="#")
            img.icon.fab.fa-whatsapp
        p Todos los derechos reservados 2020