div.footer
        div.icons
          a(href="https://www.facebook.com/PerrosAsistenciaMexico/")
            img.icon.fab.fa-facebook
          a(href="http://www.instagram.com")
            img.icon.fab.fa-instagram
          a(href="http://www.youtube.com")
            img.icon.fab.fa-youtube
          a(href="http://www.google.com")
            img.icon.fab.fa-whatsapp
        p Todos los derechos reservados 2020