doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="./css/styles.css")
    link(href='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel='stylesheet')
    script(src="https://kit.fontawesome.com/8994a44ae2.js" crossorigin="anonymous")
    title Juan Serrat
  body
      include includes/header.pug
      div.picture
        div.pam 
          a(href="#")
            img(src="img/logo-pam.svg")
          a(href="#")
            img(src="img/logo-vinculo.svg")
          a(href="#")
            img(src="img/logo-idea.svg")
          a(href="#")
            img(src="img/logo-labradores.svg")
      div.info
        div.on-line
          a(href="programas-en-linea.html")
            img.bars(src="img/barras-programas-en-linea.svg")
          div
            div Programas 
            h2.online en línea
        div.on-line-details
          div Psicoeducación y psicoterapia asistida con animales 
          div Etología educación y entrenamiento animal 
          div Perros de Asistencia
          div Cría especializada del Labrador.
      include includes/footer.pug
      