<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="./css/styles.css")
    script(src="https://kit.fontawesome.com/8994a44ae2.js" crossorigin="anonymous")
    title Document
  body
    div.card
      include header.pug
      div.content
        div.picture
          div.pam 
            a(href="http://www.google.com")
              img(src="../src/img/logo-pam.svg")
            a(href="http://www.google.com")
              img(src="../src/img/logo-vinculo.svg")
            a(href="http://www.google.com")
             img(src="../src/img/logo-idea.svg")
            a(href="http://www.google.com")
              img(src="../src/img/logo-labradores.svg")
        div.info
          div.onLine
            a(href="http://www.gmail.com")
              img.bars(src="../src/img/barras-programas-en-linea.svg")
            div.onLineTxt
              p Programas 
              br
              p.online en linea
          div.details
            div.detailsContent
                p Psicoeducación y psicoterapia asistida con animales 
                p Etología educación y entrenamiento animal 
                p Perros de Asistencia
                p  especializada del Labrador.
 
      include footer.pug
        