include includes/mixins.pug
doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale1=1.0")
    link(rel="stylesheet" type="text/css" href="./css/styles.css")
    script(src="https://kit.fontawesome.com/8994a44ae2.js" crossorigin="anonymous")
    title Juan Serrat
  body
    div.card
      include includes/header.pug
      
      div.advertisement
          h1 Programas #[strong en linea ] 
          p Debido a la actual emergencia sanitaria generada en todo el mundo por el  #[strong SARS-CoV-2 ] , desarrollamos el proyecto Programas en línea.
          p Nuestros programas en línea aportan beneficios directos a la calidad de vida y a la salud durante esta etapa de confinamiento. Manteniendo la calidad en nuestros tratamientos.
          ul
            li(type="none") Facilitan el aprendizaje
            li(type="none") Generan una interacción saludable 
            li(type="none") Contribuyen al bienestar físico, social y mental 
            li(type="none") Incrementan la estimulación sensorial 
            li(type="none") Mejoran el funcionamiento familiar
            li(type="none") Fomentan la integración
          p Un proyecto pensado para estar cerca de ti
      div.programs
        div.program
          
          h2 Vinculo 
          +vinculo 
          div.program-info Programa de acompañamiento en línea. Psicoeducación y psicoterapia asistida.
          a(href='idea.html') MÁS INFORMACION 
        div.program
          
          h2 Idea 
          +idea 
          div.program-info Educación, entrenamiento y modificación conductual en línea.
          a(href='idea.html')  MÁS INFORMACION
        div.program
          
          h2 Proyecto perro
          +proyectoPerro
          div.program-info Videoconsulta especializada en adopción, bienestar y tenencia responsable.
          a(href='idea.html') MÁS INFORMACION
      include includes/footer.pug
        
         
          
