include includes/mixins
doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="./css/styles.css")
    script(src="https://kit.fontawesome.com/8994a44ae2.js" crossorigin="anonymous")
    title Juan Serrat - Proyecto Perro - Programa en línea

    link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
  body
  
      include includes/header
      div.idea
        img(src="img/foto-proyecto-perro.jpg")
        div.idea-details
          div.idea-image
            +proyecto-perro
          div.idea-txt
            p Video consulta especializada sobre adopción, bienestar y tenencia responsable de un perro como animal de compañía.
            p En donde una persona, pareja o familia recibe la información necesaria para integrar un perro a su vida de la mejor manera. 
            p En caso de existir algún tipo de necesidad especial y/o discapacidad en donde el perro deberá cumplir con una función específica de tipo educativo, terapéutico o asistencial, la entrevista tendrá una duración mayor. Pudiéndose agendar una segunda sesión si así se considera necesario.

            ul
              li Compra o adopción. Particularidades de cada una
              li Edad adecuada. Cachorro, joven o adulto
              li Sexo. Macho o hembra
              li Temperamento y carácter. Innato y aprendido 
              li Características de cada raza. Función zootécnica
              li Generalidades en perros adoptados. Tipos de adopción
              li Necesidades y cuidados. Básicos y específicos
              li Programa de adaptación 
              li Educación y entrenamiento. 
              li Estructura de convivencia y bienestar
              li Programa de aprendizaje y/o modificación conductual
              li Selección y evaluación en cachorros, jóvenes o adultos

            p Duración; 2 hrs
          a(href="https://api.whatsapp.com/send?phone=+525622161682&text=Hola,%20quisiera%20agendar%20una%20cita.%20PROYECTO%20PERRO.")
            i.fab.fa-whatsapp.icons
            label  AGENDA UNA CITA
            
              

      include includes/footer
        
         
          
