include includes/mixins
doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="./css/styles.css")
    script(src="https://kit.fontawesome.com/8994a44ae2.js" crossorigin="anonymous")
    title Juan Serrat - Vínculo - Programa en línea

    link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
  body
  
      include includes/header
      div.idea
        img(src="img/foto-idea.jpg")
        div.idea-details
          div.idea-image
            +vinculo
          div.idea-txt
            p Programa de acompañamiento en línea para niños, adolescentes, adultos y adultos mayores en donde un animal forma parte de un tratamiento específico para una necesidad específica. Un modelo de intervención biopsciosocial Psicoeducación y psicoterapia asistida con animales.
            p Juntos vivimos mejor
            p Video entrevista y primera sesión sin costo
          a(href="https://api.whatsapp.com/send?phone=+525622161682&text=Hola,%20quisiera%20agendar%20una%20cita.%20VINCULO.")
            i.fab.fa-whatsapp.icons
            label  AGENDA UNA CITA
            
              

      include includes/footer
        
         
          
